**051 리스트 생성**

2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

순위 영화

1    닥터

2    럭키

3    영웅

In [22]:
movie_rank = ['닥터','럭키','영웅']

print(movie_rank)

['닥터', '럭키', '영웅']

**052 리스트에 원소 추가**

051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [35]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터', '럭키', '영웅', '배트맨']

**053**

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "럭키" 사이에 추가하라.

movie_rank = ['닥터', '럭키', '영웅', '배트맨']

In [37]:
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터', '슈퍼맨', '럭키', '영웅', '배트맨']

**054**

movie_rank 리스트에서 '럭키'를 삭제하라.

In [38]:
del movie_rank[3]
print(movie_rank)

['닥터', '슈퍼맨', '영웅', '배트맨']

**055**

movie_rank 리스트에서 '슈퍼맨' 과 '배트맨'을 를 삭제하라.

In [45]:
movie_rank=['닥터', '슈퍼맨', '영웅', '배트맨']
del movie_rank[1]
del movie_rank[2] # **리스트에서 값을 삭제할 때는 먼저 삭제된 후 남은 원소들에 대해 순서를 새로 고려해야한다.**
print(movie_rank)

['닥터', '영웅']

**056**

lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

>> lang1 = ["C", "C++", "JAVA"]

>> lang2 = ["Python", "Go", "C#"]

실행 예:
>> langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [48]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

**057**

다음 리스트에서 최댓값과 최솟값을 출력하라.

(힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

실행 예:

max:  7

min:  1

In [59]:
nums = [1, 2, 3, 4, 5, 6, 7]

print("min: " , min(nums),"\nmax: ", max(nums))

min:  1
max:  7

**058**

다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:
15

In [60]:
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

**059**

다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [61]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

**060**

다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:
3.0

In [65]:
nums = [1, 2, 3, 4, 5]

avg = sum(nums) / len(nums)

print(avg)

3.0