**101**

파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [ ]:
bool = True, False

**102**

아래 코드의 출력 결과를 예상하라

print(3 == 5)

In [1]:
# False
print(3==5)

False

**103**

아래 코드의 출력 결과를 예상하라

print(3 < 5)

In [2]:
print(3<5)

True

**104**

아래 코드의 결과를 예상하라.

x = 4

print(1 < x < 5)

In [3]:
# True
x = 4

print(1<x<5)

True

**105**

아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

In [4]:
# True

# 3==3은 같으니 트루, 4와 3은 같지 않으니 트루
print((3==3) and (4!=3))

True

**106**

아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

In [5]:
# 지원하지 않는 연산자다.
print(3=>4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-5-170b4e660e0b>, line 1)

**107**

아래 코드의 출력 결과를 예상하라

if 4 < 3:

    print("Hello World")

In [7]:
# 조건이 맞지 않아 출력이 없다.
if 4<3:
  print("Hello World")

# 부등호의 위치를 바꾸면 출력
# if 4 > 3:
#   print("Hello World")

**108**

아래 코드의 출력 결과를 예상하라

if 4 < 3:

    print("Hello World.")

else:

    print("Hi, there.")

In [8]:
if 4<3:
  print("Hello World.") # 조건이 맞지 않아 다음 else문으로 넘어간다.

else:
  print("Hi, there.") # 조건이 충족되므로 "Hi, there이 출력"

Hi, there.

**109**

아래 코드의 출력 결과를 예상하라

In [9]:
# 1, 2가 출력이 되고, 최종적으로 if문을 빠져나와 4까지 출력이 된다.
# 총 1, 2, 4
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

**110**

아래 코드의 출력 결과를 예상하라

In [10]:
# 첫 번째 True문으로 진입 후 False가 아니니 else문의 3을 출력
# 첫 번째 조건에 만족되었으니, 두 번째 else문은 pass
# if문 전체를 빠져나와 5를 출력
# 최종 3, 5 출력
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5