**071**

my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_variable = ()

print(type(my_variable))

<class 'tuple'>

**072**

2016년 11월 영화 예매 순위 기준 top3는 다음과 같다.
1. 닥터
2. 스플릿
3. 럭키

영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [2]:
movie_rank =("닥터","스플릿","럭키")

print(movie_rank)

('닥터', '스플릿', '럭키')

**073**

숫자 1 이 저장된 튜플을 생성하라.

In [5]:
my_tuple = (1)
type(my_tuple) # int 출력

# 하나의 데이터가 저장된느 경우, 쉼표를 입력
my_tuple1 = (1,)
type(my_tuple1)

tuple

**074**

다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

In [ ]:
t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple은 원소(element)의 값을 변경할 수 없다.

**075**

아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

In [ ]:
# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만,
# 사용자 편의를 위해 괄호 없이도 동작가능하다

**076**

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [6]:
# 튜플의 값은 변경 x
# 새로운 튜플을 만들면 기존 튜플은 자동으로 삭제된다.
t=('A','b','c')

print(t)

('A', 'b', 'c')

**077**

다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [8]:
interest = ('삼전','LG','SK')
data = list(interest)

print(type(data))

<class 'list'>

**078**

다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [9]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

data = tuple(interest)

print(type(data))

<class 'tuple'>

**079 튜플 언팩킹**

다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')

a, b, c = temp

print(a, b, c)

In [10]:
# 자동으로 a, b, c에 튜플의 원소값이 순서대로 담긴다.

temp = ('apple', 'banana', 'cake')

a, b, c = temp

print(a, b, c)

apple banana cake

**080 range 함수**

1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [11]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)